body{
  font-family: sans-serif;
  background: #60b9d4;
  color:#FFFFFF;
  align-items: center;
}

.container{
  display:flex;
  flex-direction: column;
  background-color: #333;
  width:70%;
  height:100%;
  margin: 2em auto;
  padding: 2em;

}

.cont{
  display:flex;
}
.cont-col1{

  width:50%;
  margin: 0;
  padding: 5em 5em;
  justify-content: center;
}
.cont-col2{

  width:50%;
  margin:0;
  padding: 5em 5em;
  justify-content: center;
}
.cont-titulo{
  display: flex;
  font-size: x-large;
  text-transform: uppercase;
  justify-content: center;
}

.div-form-entries{
  display: flex;
  flex-direction: column;
}
form{
  display:flex;
  justify-content: space-between;
  height: 500px;
}


.inputstyle{
  font-size:0.8em;
  width:100%;
  padding: 0.5em 1em;
  border:none;
  border-radius: 50px;
}
button{
  display:flex;
  width:100%;
  margin: 2rem 2rem 0 0;
  font-size: 1em;
  justify-content: center;
  border-radius: 4px;
}
select{
  width:100%;
  font-size: 0.8em;
  padding: 0.1em 1em;
  border: none;
  border-radius: 4px;
}

th{
  background: white;
  color:black;
  padding: 0.5em 0;
}
td{
  border: wheat 1px solid;
  padding: 0.5em 0;
  font-size:smaller;
  text-align: center;
}
table{
  border-collapse: collapse;
}