body{
  background: #00303f;
  color:#FFFFFF;
}

form {
  display: flex;
  flex-wrap: wrap;
}

form > input {
  flex: 1 1 10ch;
  margin: 0.5rem;
  font-size: 32px;
}

input {
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2.1rem;
}
select{
  border: none;
  border-radius: 30px;
  padding: 0.75rem 2.1rem;
}